name: Production
on:
  workflow_dispatch:
  release:
    types: [ 'released' ]

jobs:
  test-build:
    uses: ./.github/workflows/build.yaml
    with:
      target-env: pipeline

  tests:
    needs: test-build
    uses: ./.github/workflows/test.yaml

  app-build:
    needs: test-build
    uses: ./.github/workflows/build.yaml
    with:
      target-env: production
  
  deploy:
    needs: app-build
    uses: ./.github/workflows/deploy.yaml
    with:
      target-env: production