name: Pull Request
on:
  workflow_dispatch:
  pull_request:

jobs:
  build-test:
    - uses: ./.github/workflows/build.yaml
      with:
        target-env: pipeline

  test:
    - uses: ./.github/workflows/test.yaml